.loading-map {
  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  height: 100vh;
  right: 0;
  top: 0;
  width: 100vw;
}

.search-container {
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  left: 20px;
  padding: 4px;
  position: fixed;
  top: 20px;
  width: 300px;
  z-index: 999;
}

.pointer {
  cursor: pointer;
}

